@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="feadturedProduct" class="row">
    <div class="col-sm-8">
        <img src="~/images/@Model.FeaturedProduct.ImageName" class="img-fluid rounded" alt="Featured Product" />
    </div>
    <div id="featuredProductInfo" class="col-sm-4">
        <div id="productInfo">
            <h2>@Model.FeaturedProduct.Name</h2>
            <p class="price">
                $@string.Format("{0:f}", Model.FeaturedProduct.Price)
            </p>
            <p class="description">
                @Model.FeaturedProduct.Description
            </p>
            <p class="description">
                @Model.FeaturedProduct.Description
            </p>
        </div>

        <div id="callToAction">
            <a class="btn btn-danger order-button" title="Order @Model.FeaturedProduct.Name" asp-page="/order" asp-route-id="@Model.FeaturedProduct.Id">Order Now</a>
        </div>

    </div>
</div>

<div id="productWrapper" class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-sm-3">
            <a asp-page="/order" asp-route-id="@product.Id" title="Order @product.Name">
                <div class="productInfo">
                    <h3>@product.Name</h3>
                    <img src="~/images/@product.ImageName" alt="@product.Name" class="img-fluid rounded" />
                    <p class="description">
                        @product.Description
                    </p>
                </div>
            </a>
        </div>
        <div id="action">
            <p class="price float-left">
                $@string.Format("{0:f}", product.Price)
            </p>
            <a class="btn btn-danger order-button float-right" title="Order @product.Name" asp-page="/order" asp-route-id="@product.Id">Order Now</a>
        </div>

    }
</div>